<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @name.team_id %>
</p>

<p>
  <strong>Team:</strong>
  <%= @user.team.name %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tagh @user.avatar %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
